:root {
    --background-color-main  : #323232;
    --color-main             : orange;
    --color-error            : red;
    --size-main              : 10px;
    --size-main-2            : 20px;

    font-family              : Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height              : 1.5;
    font-weight              : 400;

    color-scheme             : light dark;
    color                    : rgba(255, 255, 255, 0.87);
    background-color         : var(--background-color-main);

    font-synthesis           : none;
    text-rendering           : optimizeLegibility;
    -webkit-font-smoothing   : antialiased;
    -moz-osx-font-smoothing  : grayscale;
    -webkit-text-size-adjust : 100%;
}

#app {
    .el-icon {
        color : var(--color-main);
    }

    .el-button.error {
        .el-icon {
            color : var(--color-error);
        }
    }
}
